input {
  redis {
    host => "127.0.0.1"
    data_type => "list"
    key => "logstash"
    port => 6379
    codec => json
  }
}

filter {
  if [type] == "apache-access" {
    drop { }
  }
}

output {
  elasticsearch {
    protocol => "http"
    host => "{{ storage_cluster }}"
#    cluster => "elasticsearch" xxxx
    index => "logstash-%{env}-%{+YYYY.MM.dd}"
  }
}
